{% extends "base.html" %}
{% block body %}
<h1>Create suggestion</h1>
<form action="{{ url_for('create') }}" method="post">

    <label>title(required)</label>
    <input class="form-control" type="text" size="30" name="title">
    <label>title in Japanese(not required. Translate if you possible.)</label>
    <input class="form-control" type="text" size="30" name="title">
    <label>description(required)</label>
    <textarea class="form-control" name="data" rows="5"></textarea>
    <label>description in Japanese(not required. Translate if you possible.)</label>
    <textarea class="form-control" name="data" rows="5"></textarea>
    <label>author(not required)</label>
    <input class="form-control" type="text" size="30" name="title">
    <input class="btn btn-primary" type="submit" value="Send">

</form>
{% endblock %}