{% extends "base.html" %}
{% block body %}
<h1>Suggestion</h1>

<h3>title: {{ result.title_en|safe}}</h3>
<h4>in japanese:{{ result.title_ja|safe}}</h4>

<div class="row">
    <label>
        description:
        <textarea class="form-control" name="data" rows="5">{{result.description_en}}</textarea>
    </label>

</div>
<div class="row">
    <label>
        in japanese:
        <textarea class="form-control" name="data" rows="5">{{result.description_ja}}</textarea>
    </label>
</div>
<p>author: {{ result.author }}</p>
<p>created date: {{ result.created }}</p>

<br><br>
{% endblock %}